<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SecurityProtocolType" value="Tls12" /><!-- Ssl3, SystemDefault, Tls, Tls11, Tls12, Tls13 -->
    <add key="FullPathToSvcUtilExe" value="C:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.8 Tools\SvcUtil.exe" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>